<header class="header" id="header">
    <nav class="nav container">
        <a href="{{ path('app_accueil')}}" class="nav__logo"><img src="{{asset ('img/logo.svg')}}" alt="logo"></a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="{{ path('app_accueil')}}" class="{{ app.request.get('_route') == 'app_accueil' ? 'link-active' }}">Accueil</a>
                </li>
                <li class="nav__item">
                    <a href="{{ path('app_manifestations')}}" class="{{ app.request.get('_route') == 'app_manifestations' ? 'link-active' }}">Évènements</a>
                </li>
                <li class="nav__item">
                    <a href="{{ path('app_lieux')}}" class="{{ app.request.get('_route') == 'app_lieux' ? 'link-active' }}">Lieux culturels</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav__item">
                        <a href="{{ path('app_admin')}}" class="{{ app.request.get('_route') == 'app_admin' ? 'link-active' }}">Admin</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav__item">
                        <a href="{{ path('app_panier')}}" class="{{ app.request.get('_route') == 'app_panier' ? 'link-active' }}"><i class="material-icons">shopping_cart</i><span id="panier"></span></a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ path('app_compte')}}" class="{{ app.request.get('_route') == 'app_compte' ? 'link-active' }}"><i class="material-icons">account_circle</i></a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ path('app_logout')}}" class="{{ app.request.get('_route') == 'app_logout' ? 'link-active' }}"><i class="material-icons">logout</i></a>
                    </li>
                {% else %}
                    <li class="nav__item">
                        <a href="{{ path('app_register')}}" class="{{ app.request.get('_route') == 'app_register' ? 'link-active' }}">Inscription</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ path('app_panier')}}" class="{{ app.request.get('_route') == 'app_panier' ? 'link-active' }}"><i class="material-icons">shopping_cart</i><span id="panier"></span></a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ path('app_login')}}" class="{{ app.request.get('_route') == 'app_login' ? 'link-active' }}"><i class="material-icons">account_circle</i></a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
            <i class="fa-solid fa-bars ouvrir"></i>
            <i class="fa-solid fa-xmark fermer"></i>
        </div>
    </nav>
</header>

<script>

</script>