<header class="header" id="header">
    <nav class="nav container">
        <a href="{{ path('app_accueil')}}" class="nav__logo"><img src="{{asset ('img/codenames-13.png')}}" alt="logo"></a>
        <div class="nav-menu">
        <a href="{{ asset('Codenames-duo_rulebook_FR_light.pdf') }}">Les règles</a>
        {% if app.user %}
            <a href="{{ path('app_compte')}}" class="btn btn-primary"><img src="{{ asset('img/avatars/' ~ app.user.avatar.image) }}">{{ app.user.username }}</a>
            <a href="{{ path('app_logout')}}" class="btn"><span class="material-symbols-rounded">logout</span></a>
        {% else %}
            <a href="{{ path('app_register')}}" class="btn btn-secondary">S'inscrire</a>
            <a href="{{ path('app_login')}}" class="btn btn-primary">Se connecter</a>
        {% endif %}
        </div>
        <a href="{{ path('app-accueil', {_locale: 'en'}) }}"><img src="{{ asset('img/english.png') }}"></a>
        <a href="{{ path('app-accueil', {_locale: 'fr'}) }}"><img src="{{ asset('img/french.png') }}"></a>
    </nav>
</header>

<script>

</script>