{% extends 'base.html.twig' %}

{% block title %}CodeNames - Profil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mon profil</h1>

    <div class="main" id="profil">
        <img src="{{ asset('img/avatars/' ~ user.avatar.image) }}" id="avatar">

        <div>
            <h2>Parties</h2>
            {% for partie in user.parties %}
                <div>
                    <p>{{ partie.dateDebut|date('d/m/Y') }}</p>
                    <p>{{ partie.etat }}</p>
                    <p>{{ partie.tour.username }}</p>
                    <p>{{ partie.joueur2 != null ? partie.joueur2.username : 'Vide' }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
